<nav class="navbar navbar-expand-lg navbar-light bg-primary p-4">
  <div class="container-fluid">
    <a class="navbar-brand text-white fs-2" href="/users">CART MAX</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active text-white fs-4 ps-5" aria-current="page" href="/users">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active  text-white fs-4 ps-5" aria-current="page" href="/users">Products</a>
        </li>


      

        <li class="nav-item">
          <a class="nav-link active text-white fs-4 ps-5" aria-current="page" href="/users/cart">Cart <span class=" bg-danger badge" id="cart-count">{{cartCount}}</span></a>
        </li>

       

        {{#if user}}

        <li class="nav-item">
          <a class="nav-link active text-white fs-4 ps-5" aria-current="page" href="/users/ordersList">Orders</a>
        </li>

        {{/if}}

</ul>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle bg-warning text-dark fs-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
   
   {{#if user}}

{{user.name}}

{{else}}

Account

{{/if}}
   
   
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    {{#if user}}
    <li><a class="dropdown-item bg-success text-white fs-4" href="/users/logout">Logout</a></li>
   {{else}}
     <li><a class="dropdown-item bg-success text-white fs-4" href="/users/login">Login</a></li>
     {{/if}}
  </ul>
</div>
        
    </div>
  </div>
</nav>